<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: black;
                color: white;
            }

            .letter {
                height: 60px;
                width: 60px;
                outline: solid white 2px;
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <!-- some divs to make squares -->
        <ul> 
            <!-- guesses -->
            <li>
                <div class="letter"></div><div class="letter"></div><div class="letter"></div><div class="letter"></div><div class="letter"></div>
            </li>
            <li>
                
            </li>
            <li>
                
            </li>
            <li>
                
            </li>
            <li>
                
            </li>
            <li>
                
            </li>
        </ul>
    </body>
</html>